/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/

body { padding: 60px 0px 60px 0px; }

.pill{
	background-color:#3f9dd7;
	padding:5px 0px 5px 0px;
}
 
.pill a{
	color:#fff;
	font-weight:bold;
}
 
div#teams_list{
	margin-right:10px;
	background-color:#f9f9f9;
	padding:5px 15px 5px 15px;
}
 
div .headline-header{
	background-color:#3f9dd7;
	color:#fff;
	padding:10px 10px 10px 10px;
	margin-bottom:5px;
}